opencv-python
dotmap
tensorboard
imageio
imageio-ffmpeg
ipdb
lpips
torch==1.8.0
pytorch-lightning==1.4.6
colored_traceback
git+https://github.com/Larry-u/yacs.git
gpustat
scikit-image==0.17.2
tqdm
scipy
numpy
matplotlib
q
PyMCubes
trimesh